/* Change the "--scratch3-main-color" variable to change the main site color */
/* Change the "--scratch3-dark-color" variable to change the secondary (darker) site color */

:root {
    --scratch3-main-color: #4c97ff;
    --scratch3-dark-color: #3875ca;
    --scratch2-main-color: #0f8bc0;
    --scratch2-dark-color: #0c6185;
    
/*     --scratch3-main-color: #3869b5; */
/*     --scratch3-dark-color: #244e8d; */
}
